{% comment %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endcomment %}


<nav>
    <a href="{% url 'news:index' %}">Home</a>
    {% if request.user.is_authenticated %}
        {% comment %} <a href="{% url 'users:user' pk=user.id %}">{{ user.username }}</a> {% endcomment %}
        <a href="{% url 'users:user' pk=user.id %}">Profile</a>
        {% comment %} <a href="{% url 'news:newStory' %}">Add Story</a> {% endcomment %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'users:createAccount' %}">Sign up</a>
    {% endif %}
</nav>

